<style>
.ol-zoom {
   right: 8px;
   left:unset;
}
</style>
<template>
  <div ref="map-root"
       style="width: 100%; height: 100%">
  </div>
</template>

<script>
  import View from 'ol/View'
  import Map from 'ol/Map'
  import TileLayer from 'ol/layer/Tile'
  // import OSM from 'ol/source/OSM'
  import VectorLayer from 'ol/layer/Vector'
  import VectorSource from 'ol/source/Vector'
  //  import Vector from 'ol/layer/Vector'
  // import GeoJSON from 'ol/format/GeoJSON'
  import Point from 'ol/geom/Point'
  // import Feature from 'ol/Feature'
  // import {fromLonLat, transform} from 'ol/proj';
  import {fromLonLat} from 'ol/proj';
  import {TileImage} from 'ol/source'

  // import {Text, Fill, Stroke, Style} from 'ol/style';
  // import CircleStyle from 'ol/style/Circle';
  // import axios from 'axios';
  // import {LineString, Point} from 'ol/geom';
  import {ScaleLine, defaults as defaultControls} from 'ol/control';

  import 'ol/ol.css'

  export default {
    name: 'MapContainer',
    components: {},
    props: {
      geojson: Array
    },
    data: () => ({
      olMap: null,
      vectorLayer: null,
      selectedFeature: null
    }),
    mounted() {
      this.vectorLayer = new VectorLayer({
        source: new VectorSource({
          features: [],
        }),
      })

      function scaleControl() {
        let control = new ScaleLine({
          units: 'metric',
        });
        return control;
      }

      this.olMap = new Map({
        controls: defaultControls().extend([scaleControl()]),
        target: this.$refs['map-root'],
        layers: [
          // new TileLayer({
          //   source: new OSM(),
          // }),
          new TileLayer({
            source: new TileImage({ url: 'http://mt1.google.com/vt/lyrs=s&hl=pl&&x={x}&y={y}&z={z}' }),
          }),
          this.vectorLayer
        ],
        view: new View({
          zoom: 0,
          center: [0, 0],
          constrainResolution: true
        }),
      })

      this.olMap.on('pointermove', (event) => {
        const hovered = this.olMap.forEachFeatureAtPixel(event.pixel, (feature) => feature)
        if (hovered !== this.selectedFeature) {
          this.$set(this, 'selectedFeature', hovered);
        }
      })

      this.updateSource(this.geojson)
    },
    watch: {
      geojson(value) {
        this.updateSource(value)
      },
      selectedFeature(value) {
        this.$emit('select', value)
      }
    },
    methods: {
      updateSource(geojson) {
        console.log(geojson[0]);
        const view = this.olMap.getView();
        const source = this.vectorLayer.getSource();

        source.clear();
        // axios
        //   .get('./points_9k.json')
        //   .then(response => {
        //     let points = response.data;

        //     for(var i=0; i<points.length; i++){
        //       var point = [points[i][1], points[i][0]];

        //       let color = '#e4aa1d';
        //       // SUBURBAN
        //       // RURAL
        //       // URBAN AND CENTER CITY
        //       let label = "S";
        //       if(points[i][2] == "SUBURBAN"){ // #1d89e4 i #f52757
        //           color = '#1d89e4';
        //           label = "s"
        //       }
        //       if(points[i][2] == "RURAL"){
        //           color = '#1de478';
        //           label = "r";
        //       }
        //       if(points[i][2] == "URBAN AND CENTER CITY"){
        //           color = '#f52757';
        //           label = "c";
        //       }

        //       var iFeature = new Feature({
        //           geometry: new Point(point).transform('EPSG:4326', 'EPSG:3857'),
        //           name: points[i][2]
        //       });

        //       // var circle = new Style({
        //       //     image: new CircleStyle({
        //       //         radius: 3,
        //       //         fill: null,
        //       //         stroke: new Stroke({
        //       //             color: color,
        //       //             width: 1
        //       //         }),
        //       //         text: new Text({
        //       //           text: label,
        //       //           font: '14px Calibri,sans-serif',
        //       //           fill: new Fill({ color: color }),
        //       //           stroke: new Stroke({
        //       //               color: '#ff0', width: 2
        //       //           })
        //       //       })
        //       //     })
        //       // });

        //       let circle = new Style({
        //           stroke: new Stroke({ color: color }),
        //           text: new Text({
        //               text: 'o',
        //               font: '12px Calibri,sans-serif',
        //               fill: new Fill({ color: color }),
        //               stroke: new Stroke({
        //                   color: color, width: 2
        //               })
        //           })
        //       });
        //       console.log(label);

        //       iFeature.setId(i);
        //       iFeature.setStyle(circle);
        //       source.addFeature(iFeature);
        //     }


        //     var point0 = fromLonLat([-86.816667, 33.386389]);
        //     let pp0 = new Point(point0);

        //     // var iconFeature = new Feature({
        //     //       geometry: new Point([-86.816667, 33.386389]).transform('EPSG:4326', 'EPSG:3857'),
        //     //       name: 'NS'
        //     //   });

        //     // let sstyle = new Style({
        //     //     stroke: new Stroke({ color: '#000' }),
        //     //     text: new Text({
        //     //         text: 'NS',
        //     //         font: '12px Calibri,sans-serif',
        //     //         fill: new Fill({ color: '#000' }),
        //     //         stroke: new Stroke({
        //     //             color: '#fff', width: 2
        //     //         })
        //     //     })
        //     // });

        //     // iconFeature.setStyle(sstyle);
        //     // source.addFeature(iconFeature);

            // view.fit(pp0, {padding: [170, 50, 30, 150], minResolution: 100});
        //     // view.animate({zoom: 20}, {center: pp0});

          // })
          var point0 = fromLonLat([-86.816667, 33.386389]);
          let pp0 = new Point(point0);
          view.fit(pp0, {padding: [170, 50, 30, 150], minResolution: 100});



      }
    }
  }
</script>