<topnav-bar style="background-color: #4f4f4f;">
  <div class="topnav-el-first"  style="background-color: #4f4f4f;">
    <cols-10 class="center">
      <button type="button" class="menu-button" ng-click="vm.openMenu()"
        key-focus grupa="mm" vrsta="-2" kolona="0">
        <i class="fa fa-bars"></i>
      </button>
    </cols-10>
    <cols-80>
      <a href="index.html">
        <img src="/public/logo.png" height="48pt">
      </a>
      {{vm.menuTitle}}
    </cols-80>
  </div>

</topnav-bar>

<left-menu id="leftMenu"  style="background-color: #4f4f4f;">

  <div class="topnav-el-first">
    <cols-10 class="center">
        <button type="button" ng-click="vm.closeMenu()" class="block-button"><i class="fas fa-chevron-left"></i></button>
    </cols-10>
    <cols-80 >
      <a href="index.html">
        <img src="/public/logo.png" height="48pt">
      </a>      
    </cols-80>
  </div>

  <topnav-row >
    <cols-10 class="center"><i class="fas fa-globe"></i></cols-10>
    <cols-80>
      <button type="button" ng-click="vm.show('gis-layers');" class="block-button">Layers</button>
    </cols-80>
  </topnav-row>

  <topnav-row >
    <cols-10 class="center"><i class="fas fa-atlas"></i></cols-10>
    <cols-80>
      <button type="button" ng-click="vm.show('projects');" class="block-button">Projects</button>
    </cols-80>
  </topnav-row>

</left-menu>

